*
!.gitignore
!src_app
!src_imageprocessing
!scripts
!scripts/*
!public
!public/*
!public/*/*
!certs
!certs/dummycert.pem
!certs/dummykey.pem
!certs/README.md
!*.ts
!*.json
!*.js
!*.py
!*.txt
!*.md
!*.mp3
!*.wav
!*.ogg
!*.gltf
!*.glb
!*.png
public/art
.DS_Store
firebase.json
.firebaserc
.eslintrc.json